[submodule "odc-frontend"]
	path = odc-frontend
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-frontend.git
[submodule "odc-manager"]
	path = odc-manager
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-manager.git
[submodule "odc-adapter-postgres"]
	path = odc-adapter-postgres
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-adapter-postgres.git
[submodule "odc-adapter-gateway"]
	path = odc-adapter-gateway
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-adapter-gateway.git
[submodule "odc-adapter-ckan"]
	path = odc-adapter-ckan
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-adapter-ckan.git
[submodule "odc-config-manager"]
	path = odc-config-manager
	url = git@gitlab.fokus.fraunhofer.de:ids/odc-config-manager.git
